[2016-12-18 13:01] frozenshadow opened #5 "Some additional icons"
First of all, I love the app! It is simple, fast and best of all open-source.
I do however have a request for some icons:
- WordPress
- Electronic Arts
- Ubisoft

Can you add these?
Thanks in advance, and keep up the good work :)

[2016-12-19 08:32] calleerlandsson commented on #5
Hey @frozenshadow, I'm happy you're enjoying Tofu!

I'm currently working on the next release of the app. I can't say when it will be available to download but I'll do my best to include these icons in it!

[2016-12-19 08:52] frozenshadow commented on #5
Great! Looking forward to the next release.

Thank you for the quick response.

[2017-01-16 19:36] akerl opened #6 "Additional icon requests"
Hi! Like the other issue reporter, also wanted to say I love the app!

Not sure if, longer-term, you'd prefer one mega-issue for tracking icon requests, or split (side idea: maybe make it possible for users to add their own icons? More code work, but could spare you from crazy esoteric requests and would rock for things like AWS, where I have 8 different TOTP rows)

My requests, just based on the

[2017-01-16 19:38] akerl opened #7 "Copy-on-click"
Given that there's no action when you click on a row, it would be cool if clicking automatically copied the token (this is what the Google Auth app does).

That way, I'd not have to press-and-hold and then select Copy

[2017-01-16 19:43] calleerlandsson commented on #6
Hey @akerl, I'm happy you're enjoying the app! 😄

I think this is a great idea! I've thought about it a bit in the past but I haven't figured out where people would add icons from. Would it be from the camera roll/photos? It seems a bit cumbersome, especially if they also have to prepare the images in specific dimensions. Do you have any thoughts on this?

I'll do my best to include the icons you

[2017-01-16 19:46] calleerlandsson commented on #7
I think this is a good idea. I did try this at one point but it interfered with the "advance counter" button for counter based tokens. I think we might be able to make it a bit simpler by allowing one to tap to bring up the context-menu instead of tap-and-hold.

[2017-01-16 19:58] akerl commented on #6
My rough plan is to put my time where my mouth is and see about PRing in some icons when I get home tonight :)

I imagine I'll just look at the current icons for format/dimensions.

I agree that pulling from photos would be cumbersome, but I'd consider it an advanced option. A bit cumbersome for the user, but would let them freely customize, and with any luck it's not something they'd be doing oft

[2017-01-16 21:32] frozenshadow commented on #6
Besides programmer I am also a graphic designer, maybe I can make some icons too.
And besides the camera roll option, it would also make sense to make use of the documents options in iTunes.

Then you have two possibilities for the naming convention:
1. github.png = GitHub, wordpress.png = Wordpress etc.
2. Select icon in-app (this could off course also be the camera roll)

Let me know what you th

[2017-01-24 17:52] calleerlandsson commented on #6
@akerl:

This would be great! In the project root, there's [a Sketch file](https://github.com/calleerlandsson/Tofu/blob/634fe357634fcea56151f09cb9d2738542bf929a/IssuerIcons.sketch) with all of the current icons. The easiest thing is probably to copy the row of placeholder icons, renaming the group and icons, adding the artwork and then exporting them using the already set up export formats.

I hav

[2017-01-26 12:12] nielslaukens opened #8 "Register URL handler"
It would be nice if TOFU would register itself as a URL handler for the otpauth:// scheme, just like the Google Authenticator app does. This would allow you to click on a otpauth:// link in e.g. a text message, and have the app automatically open and add the token (maybe after a confirmation).

I believe most of the logic is already implemented for decoding a QR-code, only the registration with iO

[2017-01-26 14:26] calleerlandsson commented on #8
Hey @nielslaukens, that sounds like a cool idea! Do you have an example of an issuer that supply this kind of links?

[2017-01-27 07:34] nielslaukens commented on #8
:-) My employer...
The system automatically generates OTP configuration, and sends it via a text message to the users. Typically, the text will be received on the same smartphone that will be used for OTP-generation. Copy-pasting works, but is cumbersome.
If the Google Authenticator app is installed, the user can simply click on the link and the OTP-config is added to the app. It would be nice if

[2017-01-29 08:10] calleerlandsson commented on #8
Ah, I see! I agree that it would be a nice feature. Thanks for proposing it, @nielslaukens!

If someone wants to work on this, I'd be happy to answer questions and review PRs. If not, I'll get to it when I can find the time.

[2017-04-25 15:39] eutampieri commented on #6
I think icons could be added by bringing up a screen where the name provided is searched in some api like bing images and the user is able to select from a grid the icon that best suits its needs.
PS: this app is good because of its clean interface… keep working!

[2017-04-25 15:42] eutampieri commented on #6
Here it is:
https://dev.cognitive.microsoft.com/docs/services/56b43f0ccf5ff8098cef3808/operations/56b4433fcf5ff8098cef380c

[2017-06-27 07:10] zhangchunsheng opened #9 "should upgrade, not suit for new swift"
should upgrade, not suit for new swift

[2017-09-27 09:28] NetOperatorWibby opened #10 " Watch support?"
Hey Calle, I love Tofu and I tell people about it as much as I can (...just like people who eat tofu, lol). I recently purchased an  Watch and I was wondering if support for it was in the pipeline.

[2017-09-29 14:27] calleerlandsson commented on #10
Hey @NetOperatorWibby, I'm happy you enjoy using Tofu and thanks for spreading the word about it! 😃 I haven't planned any time to work a watch extension but I'm definitely not opposed to one and if I get some time over I might work on it.

[2017-11-05 20:44] #9 closed

[2018-01-23 09:07] gh0stKid opened #12 "Touch ID + Share Extension"
Hi, I was browsing for OTP apps in the App Store and had a difficult time choosing which one to use. I like Tofu mainly because it’s open-sourced. I’m trying out it for now and I do like to see a future update with Touch ID support to lock the app and a share sheet extension for autofill would be cool. Also, maybe a backup feature can be useful too?

[2018-01-23 09:41] calleerlandsson commented on #12
Hey, @gh0stKid, those sounds like cool ideas! If you'd like to try your hands at implementing them, I'd be happy to answer your questions. If not, I can't really promise anything. If I build and ship something like this, I'll make sure to mention it in the release notes.

[2018-01-23 09:41] #12 closed

[2018-03-16 07:55] bluszcz opened #14 "Ability to make a backup?"
Is there a way to backup the codes? This is a needed feature - in case of device loosing or device changing.

A good solution is implemented here: https://github.com/andOTP/andOTP

[2018-03-18 07:29] jooize commented on #6
Import from Document Providers and Photo Library (make it so the app doesn’t get full read access to photos). iTunes is a horrible way to transfer into an app.

People use services that you won’t ever have icons for. Please enable custom icons.

Thanks for making Tofu. I have many ideas I’ll post over time. Using MFA many times every day has made me think the process through.

[2018-03-18 11:10] calleerlandsson commented on #14
Hey @bluszcz!

The codes/passwords are stored in the keychain and should migrate to new devices when using encrypted device backups according to Apple’s documentation: https://developer.apple.com/documentation/security/ksecattraccessiblewhenunlocked

[2018-03-18 11:10] #14 closed

[2018-11-22 06:38] captn3m0 commented on #6
I found the thumbnails in andOTP pretty helpful: https://github.com/andOTP/andOTP/tree/master/app/src/main/res/drawable

It has some default generic icons as well, which you can assign to your custom mail provider, for eg.

[2019-01-22 12:51] klaaspieter opened #16 "Codes did not migrate after restoring iCloud backup"
I migrated to a new phone from an iCloud backup and Tofu is empty on the new phone. According to #14 Tofu should be able to migrate over to new devices if backups are encrypted. I'm assuming that is the case for iCloud backups, but perhaps they're special?

I'm at a loss as to how to debug this further.

[2019-01-22 19:17] klaaspieter commented on #16
On the Apple forums the Eskimo [suggests](https://forums.developer.apple.com/thread/93373#282490) using [`kSecAttrSynchronizable`](https://developer.apple.com/documentation/security/ksecattrsynchronizable). I'm pretty certain we need to add `kSecAttrSynchronizable: kCFBooleanTrue` [here](https://github.com/calleerlandsson/Tofu/blob/master/Tofu/Keychain.swift#L90-L95).

I'm fine with making the cha

[2019-01-23 14:18] calleerlandsson commented on #16
Hey @klaaspieter, thanks for reporting this. I’m really sorry it didn’t work as intended and that you lost your codes!

As far as I understand, whether or not an item migrates to a new device is decided by the item's accessibility attribute. Since e40e25b we're using the [`kSecAttrAccessibleWhenUnlocked`](https://developer.apple.com/documentation/security/ksecattraccessiblewhenunlocked) accessibil

[2019-01-23 14:25] calleerlandsson commented on #16
I kept on reading the forum thread you linked to and eventually read [a later reply by eskimo](https://forums.developer.apple.com/thread/93373#342575) where it seems like the accessibility attribute only affects encrypted iTunes backups.

Sadly, it seems like keychain items won't be included in iCloud backups regardless of accessibility attributes and I'm not quite sure what we should do to resolv

[2019-01-23 16:35] klaaspieter commented on #16
I also tried restoring an iTunes backup to no avail. Like you said, it's probably because I beta tested the app.

Perhaps the 'easiest' way to migrate would be to have a screen with a QR code that can be scanned from a new phone? The QR code would basically contain all the accounts tracked by Tofu. I honestly don't know if a QR code would be able to encode that much information, but it seems like

[2019-01-29 15:25] calleerlandsson commented on #16
That’s an interesting idea! I’ll give it some thought and might try building something out.

I can’t find any documented reason to why Apple doesn’t include keychain items in iCloud backups. I really hope they will start including them in the future.

[2019-02-06 20:15] klaaspieter commented on #16
Just verified with a test account on a test phone that accounts are backed up to and restored from an iCloud backup.

In other words my issue was probably caused by having been part of the beta. I'm going to close this, but a QR code backup could still be nice in case others run into similar issue 😛.

[2019-02-07 13:18] calleerlandsson commented on #16
Huh! That's counter to [eskimo’s findings](https://forums.developer.apple.com/thread/93373#342575) but very good!

Thanks so much for taking the time to testing this for real, @klaaspieter!

Yes, I will continue to think about custom backup options.

[2019-03-01 11:39] TCB13 commented on #8
+1 on this!

[2019-03-01 11:41] TCB13 opened #17 "Read QR codes from Photos"
Hello,

Thank you for building this App! One thing I miss is the ability to read the QR codes from images already stored in the Phone, or, the ability for other Apps to send images to Tofu.

Thank you.

[2019-03-04 16:13] calleerlandsson commented on #17
Hey @TCB13, that sounds like a cool idea!

A pull request for this would be very welcome. I'll also consider working on this when I get some time to do so in the future.

[2019-03-04 21:08] TCB13 commented on #17
@calleerlandsson I'll check it when I get some time, however the last time I did something iOS was about 5 years now so ... no promisses.

[2019-03-14 16:41] robcohen opened #18 "Possible git sync?"
I understand that tofu syncs with apple keychain. Is it feasible that tofu can backup to a custom git server? I run linux and doing backups isnt officially supported, so I try to use apps that sync to a git server I trust. Pass for iOS does this. Can tofu as well? Pss supports TOTP but passwords and totp in the same repo is a bad idea.

[2019-03-20 09:15] calleerlandsson commented on #18
Hey @robcohen, thanks for the feedback!

Just like you wrote, Tofu stores account secrets in the iOS keychain. These secrets are then included in encrypted device backups made with iTunes or via iCloud.

In the future, I might consider working on an alternative backup option but I'm worried that using Git for this might make the feature hard to use for people who have no prior experience with vers

[2019-03-20 09:15] #18 closed

[2019-04-29 18:45] ThinkChaos commented on #8
For anyone looking into this, [here](https://github.com/google/google-authenticator/wiki/Key-Uri-Format) is a reference on the URL scheme.

[2019-06-11 08:47] #8 closed

[2019-06-11 08:54] #7 closed

[2019-07-13 11:58] #5 closed

[2019-08-19 15:47] ThinkChaos opened #23 "Icons from websites link elements"
I think it would be nice to avoid bundling icons in Tofu but instead fetch the icons from the websites.

Most websites have a `<link rel="icon" href="favicon.ico">` element, or even better icons for smartphones such as `<link rel="apple-touch-icon-precomposed" sizes="114x114" href="...">`.

What do you think of having a map of issuer to domain, and then automatically fetching the appropriate icon?

[2019-08-23 11:02] calleerlandsson commented on #23
Hey there @ThinkChaos, thanks for the feedback!

Due to potential security and privacy issues, I'm hesitant to add networking code to the app. I definitely want to make it easier to add new issuer icons, though!

My current idea for how to do this is to commit square full size icons to this repo and include a script that can generate icons of different sizes with rounded corners that can then be u

[2019-08-28 22:51] ghost opened #24 "Importing data from Google Authenticator"
It'd make transferring easier so I do not have to have a lock on all of my accounts for 30 days because I changed the auth app

[2019-08-30 08:01] calleerlandsson commented on #24
Hi @Jeremia-h, thanks for the feedback!

I agree that such an import would be really convenient. I'm not sure how it would be implemented, though!

I think the Google Authenticator app stores secrets in the keychain and there's no way for Tofu to access these. Unless there's an export function in the Google Authenticator app, which to my knowledge there isn't, I don't think there's a way to get th

[2019-09-03 06:02] Jeremia-h commented on #24
I'm not sure. Authentication keys are backed up in iCloud on iOS and I'm sure something similar happens on Android. Maybe there is a way to access that data manually?

[2019-09-03 06:59] ghost opened #25 "Dark Theme"
Would you consider implementing a dark theme for the app? (sort of goes against the feel of "Tofu" but it's still a nice-to-have)

[2019-09-04 13:15] calleerlandsson commented on #25
I definitely would like Tofu to support the dark mode in iOS 13. If someone wants to work on that, I'd really appreciate it.

[2019-09-04 13:16] calleerlandsson commented on #24
I don't think there is. Apps do not have direct access to iCloud backups or the keychain items of other apps.

[2019-09-18 01:38] #10 closed

[2019-10-03 16:16] briannyeko opened #27 "Passcode/Touch ID to the app?"
When will you add Passcode/Touch ID when opening the app to the Tofu Authenticator app?

[2019-10-07 13:19] calleerlandsson commented on #27
Hi @briannyeko! I currently have no plans on adding this feature.

I'd love to know more about what kind of situations you think it would be valuable in, though!

[2019-10-07 13:36] briannyeko commented on #27
Hi Calle!
I see 2FA authentication apps(Could be used to access information(emails,financial or technological information) that could be valuable to individuals) similar to a bank vault(you have multiple locks and passwords in order to access the money/gold) 😁 .

So I thought it would be a good idea to suggest to you when you would add a passcode/touch ID function to your app(in case you lose your

[2019-10-07 13:41] #24 closed

[2019-10-07 13:44] calleerlandsson commented on #27
Thanks Brian, I appreciate the suggestion!

Aren't these cases already covered by the passcode lock on the phone?

[2019-10-08 15:37] danbee commented on #16
I recently migrated to a new phone and my 2FA codes did not restore. They didn't the last time I upgraded either.

[2019-10-10 08:03] calleerlandsson commented on #16
I'm really sorry about that, @danbee 😕

Were you using iCloud backups or encrypted iTunes backups?

Do you know roughly when you added the accounts to Tofu? Could it be that you, like Klaas Pieter, added the accounts back when we were still using [`kSecAttrAccessibleWhenUnlocked`](https://developer.apple.com/documentation/security/ksecattraccessiblewhenunlocked) in e40e25b?

[2019-10-10 16:59] danbee commented on #16
The last time I added accounts to Tofu would have been early last year, so way after the `kSecAttrAccessibleWhenUnlocked` change.

[2019-10-11 13:31] calleerlandsson commented on #16
Sorry again @danbee, re-adding accounts really sucks.

I wish I knew how to debug this further. When I have some more time, I'll try to reproduce Klaas Pieter's experiment with restoring a phone from an iCloud backup.

[2019-10-17 14:50] downandout commented on #27
No, it doesn't. You mean the passcode (TouchID, FaceID) that you have to enter to get into your iPhone? In the scenario I proposed, an attacker (robber, border control agent etc.) would have already gotten into your phone, for example, by forcing you to unlock it. Then there's nothing to stop them from getting into Tofu, correct?

[2019-10-17 15:50] calleerlandsson commented on #27
Yes, that's the lock I mean.

If I'm forced to unlock the phone's passcode lock, I'm not sure how another passcode/Touch ID lock would prevent access to Tofu? Wouldn't I be forced to unlock that one too?

I'm not trying to be difficult or negative here. I just want to be sure this feature would add value  before someone spends time implementing it and before I commit to supporting it going forward

[2019-10-18 12:47] downandout commented on #27
Okay, you're right, maybe my example was flawed. :P
How about this though: If a user for some reason does not use a code, TouchID or FaceID on their iPhone, then a 3rd party could easily get into the phone and then into Tofu. A code or TouchID for Tofu would then be a good defense.

[2019-10-19 11:45] grzegor commented on #27
Ok, so the point of 2FA is to have 2 things to authenticate (thing you know and thing you have for example), but now most of us use some sort of password manager (hopefully) and usually this manager and 2FA token generator are on the same device. If somehow somebody acquires your device in unlocked state and you recently used your PM so the lock timeout hasn't yet triggered they will have both the

[2019-10-21 17:15] ThinkChaos commented on #23
I understand why you'd rather not have any networking in the app.
I had another idea today: allow users to paste an image as the icon. Doing so they could find the icon through whatever means and add them easily in Tofu without recompiling.

What do you think of this approach?

[2019-10-25 14:07] DagAgren commented on #27
It seems that a second TouchID/FaceID prompt in the app would protect you against one case: When your phone is snatched from you while unlocked, and kept unlocked until it can be used for 2FA. This seems like a very unlikely threat scenario, though, and if someone is that determined to get access to your services, you probably have larger problems that are not easily solved by this app.

Having a

[2019-11-12 08:27] calleerlandsson commented on #23
I think that could work well. Maybe we could use the built in [`UIImagePickerController`][1]?

[1]: https://developer.apple.com/documentation/uikit/uiimagepickercontroller

[2019-11-12 08:32] calleerlandsson commented on #27
Thanks for the arguments! I'm convinced this feature could provide value and since it is mostly orthogonal to existing features I hope it won't prevent us from adding other features down the line.

If someone would like to work on this, I'd be happy to review a PR. If not, I'll get to it when I have time.

[2019-11-16 11:57] brianpierce opened #29 "Failed to restore 2FA accounts from iOS backup"
I'm not sure if this is a problem in user instructions or the code but I was concerned when I recently set up a new iPad using an encrypted back up of an iOS 13 iPhone to move settings, apps and passwords to the new device.

Tofu was installed on the iPad but with none of my many 2FA accounts.  This raises some concerns for me.   Not only is it time consuming to set up all my Tofu accounts manuall

[2019-11-16 15:38] brianpierce commented on #29
Merge with #16

[2019-11-16 15:38] #29 closed

[2019-11-16 15:40] brianpierce commented on #16
I'm not sure if this is a problem in user instructions or the code but when I recently set up a new iPad using an encrypted back up of an iOS 13 iPhone to move settings, apps and passwords to the new device, Tofu was installed on the iPad but with none of my many 2FA accounts.

The FAQ isn't clear on how to ensure accounts are backed up. What settings are required for backup? Any way to confirm th

[2019-11-17 15:01] calleerlandsson commented on #16
Hi @brianpierce, thanks for reporting this. I'm sorry your codes weren't restored from the backup.

I agree that the FAQ should be updated with information about backups.

If you are taking encrypted iOS backups using iTunes or have iCloud backups enabled, your Tofu accounts *should* be part of these. At least according to [Apple's documentation](https://developer.apple.com/documentation/security/

[2019-11-17 16:41] danbee commented on #16
@calleerlandsson I have a spare iPhone 6S that I could do some testing with if you like?

[2019-11-18 11:31] calleerlandsson commented on #16
Thanks for offering @danbee, I would really appreciate it!

What do you think of the following steps?

1. Verify that iCloud backups are enabled on the main phone and that a backup has been made recently
2. Reset the spare phone's settings and content and set it up by restoring the most recent backup of the main phone
3. After the backup has finished restoring, open Tofu on the spare phone and ver

[2019-11-18 16:15] danbee commented on #16
That sounds like a very good place to start. I'll add that to my list for this week.

[2019-11-19 21:13] xijio opened #30 "Backup / Restore"
Maybe I'm missing something, but aren't I completely hosed if I lose my phone?  I feel like there should be some sort of secure recovery process.  If there already is one, I'd love to hear about it but I couldn't find it in the documentation (aka the FAQ and readme.md, couldn't find more documentation).

[2019-11-19 21:17] xijio commented on #27
I'll add another example.  I frequently unlock my phone and hand it to someone so they can navigate while I drive or some other common scenario.  They're using my phone with my permission without direct monitored access.  This feature would prevent someone from sneakily gaining access to my TFA pins while they have access to my device.  Sounds like you already accepted this as valid, but wanted to

[2019-11-19 21:36] xijio commented on #16
It seems like a better solution would be generic backup and restore.  I agree restoring with icloud and itunes encrypted backups totally makes sense, but I wish there was a way I could manually backup and restore all of the settings.  Backing up using the files apis from ios would be great, then you could backup whenever changes are made to any of your logins.  So for example, I could set it so th

[2019-11-19 21:52] xijio commented on #30
I made another comment here, not sure if you want to track this in that issue or as a new issue.  https://github.com/calleerlandsson/Tofu/issues/16#issuecomment-555726548

The big things I'd want in this feature:

**Encrypted backup and restore.**  The app would ask for a password when backing up data that would need to be entered upon restore
**Store backups using iOS files API.**  This way you c

[2019-11-25 19:35] danbee commented on #16
It took me a week to get to this but I restored my spare phone from an iCloud backup over the weekend and none of my codes made it:

![848A007A-5FEC-498E-A777-9B32F80F346D](https://user-images.githubusercontent.com/165531/69571780-c9965000-0f90-11ea-9094-30268e370b79.jpeg)

[2019-11-25 21:41] RazziaDK opened #31 "Suggestions for new site icons"
I would like to suggest a few more logos to be added to the app.

I'm not sure how I can submit them myself, but I found logos for the following sites. On the sites there is SVG, PDF, JPG and PNG available.
NiceHash - https://www.nicehash.com/media
Basecamp - https://basecamp.com/about/press
Time4VPS - https://www.time4vps.com/wp-content/uploads/2017/03/logo.svg

[2019-11-26 17:25] frozenshadow commented on #31
I'll take a look at it later this week. The first link is dead btw. :wink:

[2019-11-26 18:05] RazziaDK commented on #31
Thanks!
The first link works for me, but I can see they have a logo collection on Dropbox as well: https://www.dropbox.com/s/qwjm1rya75dog0h/nh_logos.zip?dl=0

[2019-11-26 20:15] calleerlandsson commented on #16
Ah, that's bad news! 😞 Thanks for testing, @danbee. I've found an old device and will try to replicate the issue on it. I hope that will make it possible to debug.

@xijio, using the files API to create an encrypted backup is an interesting idea. If you would like to work on that, I'd be happy to review a PR! If not, I might work on it when I have the time.

[2019-11-26 20:17] calleerlandsson commented on #30
Let's track this issue here and keep #16 about the iCloud backups issue.

[2019-11-26 21:08] calleerlandsson commented on #16
Apparently my other device doesn’t run iOS 13 so my backup is no good 🙄 I’ll try to get my hands on a device that does run iOS 13.

[2019-11-26 22:51] danbee commented on #16
Ach! Would you like me to perform any other tests? Backup and restore via iTunes or direct copy between phones?

[2019-11-27 08:51] calleerlandsson commented on #16
Comparing with an encrypted iTunes backup would be great!

The documentation for [`kSecAttrAccessibleWhenUnlocked`](https://developer.apple.com/documentation/security/ksecattraccessiblewhenunlocked) explicitly says "Items with this attribute migrate to a new device when using encrypted backups." so if an encrypted iTunes backup doesn't restore the accounts, we will have to look elsewhere for a pot

[2019-11-30 13:14] frozenshadow commented on #31
You're right, the link works. My DNS provider just didn't pick it up ¯\_(ツ)_/¯

Anyway, I added the icons. The Time4VPS was a bit tricky due to the horizontal nature of their logo, so I just recreated the favicon logo.
Hope you like them and please let me know what you think!

[2019-11-30 15:53] RazziaDK commented on #31
Nice solution to the Time4VPS logo!
The others icons looks good as well.

How does the app recognize which icon it should use?
I have added 2FA to my Synology NAS, and in the app it shows up as "<Username>@<Custom-NAS-name>". Would it be possible to add a Synology icon without a common NAS name?

[2019-12-01 12:12] frozenshadow commented on #31
Glad to hear you like the icons!

The icons are based on their issuer and their names are defined in this file: [Tofu/AccountCell.swift](https://github.com/calleerlandsson/Tofu/blob/master/Tofu/AccountCell.swift#L22)
So for example: you setup 2FA for GitHub, the qr code you scan contains the issuer name 'GitHub' and thus (in this case) equals to [line 45](https://github.com/calleerlandsson/Tofu/bl

[2019-12-01 13:52] RazziaDK commented on #31
Thanks again!
Do you need issuing information about the three new logos?
Basecamp = "Basecamp's+Launchpad"
NiceHash = "NiceHash - New platform"
Time4VPS is empty. :-(

[2019-12-03 18:50] frozenshadow commented on #31
I've edited the issuer names. Should be good to go now.

[2019-12-03 19:03] RazziaDK commented on #31
Thanks!

[2019-12-03 19:03] #31 closed

[2019-12-06 17:48] EdisonJwa commented on #16
I think if there are some other ways such as export(just example) or something else to backup or restore it would be much more interesting

[2019-12-09 15:56] yoiang commented on #6
@calleerlandsson for icon submissions would you prefer each icon be a different PR, different commit, or all bundled together and articulated in the commit message?

[2019-12-11 16:15] calleerlandsson commented on #6
Hey @yoiang, as long as the commit messages are clear, both are fine with me.

[2019-12-13 06:23] nistan123 opened #33 "Backups work or not?"
I’m on: macOS Catalina (10.15.2), intending to back up Tofu (latest AppStore release) on an iPad (13.3).

Just need to know before I do some mandatory iPad maintenance and restore my device with a clean install, can I expect to lose all my Tofu data when restoring it from an encrypted icloud/hdd backup or not?

 There’s not exactly a whiteboard here where it lists the recommended ’do’s and don’ts’

[2019-12-13 07:53] calleerlandsson commented on #33
Hey @nistan123, as far as I know, we're doing everything we can to have iOS include Tofu's accounts in it's encrypted backups. Despite this, we have had instances where the accounts haven't been restored from iCloud backups. Unfortunately, I can't give you any more information or guarantees than that.

If you would like to help debug this issue by attempting to restore your device from a fresh enc

[2019-12-13 07:53] #33 closed

[2019-12-13 07:59] calleerlandsson commented on #16
@danbee, do you by any chance know if you had installed Tofu from TestFlight or from the AppStore on the device that created the backup?

@EdisonJwa, could something like #30 of use for you?

[2019-12-13 07:59] ghost opened #34 "Autofill OTP passwords"
May I suggest some features?

1)

2) A small quality of life upgrade would be that to merely double tap a token in the app should directly copy the code to the clipboard, rather than having to tap and then press Copy. I think most other Auth apps I’ve tried has this design (though trivial change).

3) An incredibly convenient option would be for the Tofu app to automatically send the current code

[2019-12-14 19:04] nistan123 commented on #33
Will do if I get a chance to, as soon as possible.

[2019-12-14 19:04] nistan123 commented on #33
Good point. Thanks.

[2019-12-15 00:26] nistan123 commented on #34
Silly me, there's a search function already... Calling myself stupid so nobody else needs to. Done. :)

[2019-12-16 23:37] ThinkChaos commented on #16
I just went through the restore process from a local encrypted backup (I use iMazing, not iTunes) and it went perfectly 😃

[2019-12-17 14:08] danbee commented on #16
@calleerlandsson I have the Testflight version installed at the moment and often do so it's probably likely. The version that was restored is the app store version. Could that be something to do with it?

[2019-12-18 09:52] calleerlandsson commented on #34
Hey @nistan123, thanks for the feedback.

Right now, when the contextual menu disappears after tapping the Copy item, I think people have the expectation that the code was copied to the clipboard. If we didn't display a contextual menu and instead copied codes on double tap, I'm not sure how we could create this expectation or otherwise provide feedback in a way that's in line with the rest of the

[2019-12-18 10:22] calleerlandsson commented on #16
@ThinkChaos, that's great news! Thanks for testing!

@danbee I thought that *might* be the case until this morning when I re-read the [iOS Security guide](https://www.apple.com/business/docs/site/iOS_Security_Guide.pdf) and came across the following paragraph:

This is also in line with [eskimo’s findings](https://forums.developer.apple.com/thread/93373#342575) mentioned earlier.

To conclude: acc

[2019-12-23 05:13] dietofworms commented on #34
To extend upon OP's request regarding copying the code automatically. Can we take a look at Google's Authenticator application for inspiration? There, you can simply tap a code and it will automatically copy it to your clipboard. I think this feature would be really good to implement in Tofu.

[2019-12-23 21:23] nistan123 commented on #34
Just to adding an example you may want to have a look at re. suggested feature #3.
The iOS app 1Password offers this exact feature. After installing the app, go Settings > Passwords and Accounts > Autofill Passwords, and then you may add the 1Password app.
Maybe have a closer look at how they do it?

[2019-12-26 19:12] sekizuri commented on #34
Can update that this feature has not worked at all in 1Password. So perhaps it is impossible to do this currently...

[2019-12-27 11:15] calleerlandsson commented on #34
Regarding one-tap copy: I don’t think the way Google Authenticator provides feedback that it copied the code to the clipboard fits in well with the rest of system. If you have suggestions for how to do this better, I’d love to hear them.

Regarding 1Password and autofill: If I have understood things correctly, the autofill api lets apps pre-register entries that can be auto filled. I don’t see how

[2019-12-27 13:28] sekizuri commented on #34
![371BDDD4-CC4E-4F9F-83B6-9A288C5AC117](https://user-images.githubusercontent.com/58093076/71518790-d5897080-28b4-11ea-9ddc-c90796a2a931.png)

Although I haven’t gottne it to work myself, clearly it is supposed to, if you refer to the image attached.

Imagine how smooth the user experience would be to simply log in to websites and never having to even open Tofu, but just stay in Safari?
It could s

[2019-12-27 14:42] calleerlandsson commented on #34
I agree that it sounds great! I still don't see how it would work, though.

The way I interpret this 1Password feature is that after autofilling your username/email and password, 1Password will copy the OTP to your clipboard for you to then paste into the OTP field. This seems reliant on getting a callback from the autofill system, and I'm not sure how Tofu would handle that?

[2019-12-27 15:08] sekizuri commented on #34
Sorry to say I know nothing about programming/coding, I’m only a lowly consumer. But I found a similar open source project on github which claims to be using auto-fill 2FA [https://github.com/FoxAuth/FoxAuth](here). Perhaps have a look at their code? Although this is not  for iOS but Mozilla.

[2019-12-27 15:14] ThinkChaos commented on #34
The API actually launches an app extension that can do more than just register entries. For instance KeepassTouch, a password manager based on MiniKeepass, has an autofill extension that asks the user to unlock the database and then can fetch relevant username/password combos.

What I'm not sure about is if iOS would allow the autofill extension to run for non username/password fields. I think 2FA

[2019-12-27 16:37] sekizuri commented on #34
Something else which might be of interest is how Strongbox for iOS can (I assume) copy relevant TOTPs directly:
![A6D82C71-7222-49AF-8380-9C0B664FB167](https://user-images.githubusercontent.com/58093076/71524833-8a308b80-28cf-11ea-97c0-d65e38e68168.png)

[2020-01-31 13:12] calleerlandsson commented on #25
Support for dark mode was added in 4cc7bbd41a5dae320518b4441d60c66b6bb04bed. I'm putting out a TestFlight build of this today and will hopefully release it on the AppStore in a week or two.

[2020-01-31 13:12] #25 closed

[2020-02-23 17:55] jonasstrandstedt opened #37 "Tofu 1.7 won't start on iOS 12.4.1"
After upgrading to Tofu 1.7 it crashes directly after starting it on iPhone 6S running iOS 12.4.1.

[2020-02-23 20:29] calleerlandsson commented on #37
Oh no! Thanks for reporting this @jonasstrandstedt. In an attempt to stop automatic updates and prevent more people from getting the version that crashes on launch on iOS 12, I have removed the app from sale on the AppStore.

I'll try to get a fixed version submitted for review tomorrow. Hopefully, I can have it out within a few days.

Would you be willing to join the TestFlight beta program to he

[2020-02-24 06:59] jonasstrandstedt commented on #37
Sure, I'll help out if I can. I have sent an email.

[2020-02-24 09:09] fnowak commented on #37
The same is happening on an iPhone 5S running iOS 12.4.5.

[2020-02-24 09:16] calleerlandsson commented on #37
Thanks for the report @fnowak.

**Status update:** I have identified and fixed the cause of the crash and have submitted a new build both for beta and AppStore review. As soon as the beta review is done, the new build will be available to TestFlight testers. After confirming the fix and waiting for AppStore review I will put the app back on the AppStore.

[2020-02-24 19:35] calleerlandsson commented on #37
This issue was fixed in 93766b0b04ba6530e4a216f4a2b2e9da259f9442 that is part of version 1.8. I have just released this version and put the app back on the AppStore so it should be available within a few hours.

[2020-02-24 19:35] #37 closed

[2020-03-05 16:12] calleerlandsson commented on #17
This was added in #36.

[2020-03-05 16:12] #17 closed

[2020-03-05 18:50] TCB13 commented on #6
We're also missing an icon for Twitter and another for Bitstamp! Keep up the great work.

[2020-03-25 09:14] eutampieri commented on #30
I was trying to implement this in my newborn fork but I have two questions:
1. The Apple CryptoKit API is available for iOS >= 13, so could we use [this library](https://github.com/krzyzanowskim/CryptoSwift)?

1. I can't find a valid place in the UI to place the export button

[2020-03-31 17:05] calleerlandsson commented on #30
Wow, thanks for trying to implement this @eutampieri!

It would be great if we could make this compatible with iOS versions < 13 as well. Do you think we could use the CommonCrypto library for this? If so, I think I'd prefer that over adding a dependency. If not, we could also make this specific feature iOS >= 13 only.

Regarding where to put the export button: Maybe we could replace the + button

[2020-03-31 17:15] eutampieri commented on #30
Haha implementing because my mum needs it! I'll look up CommonCrypto. For the UI, I think I'll write the necessary code first.

[2020-03-31 17:18] eutampieri commented on #30
https://github.com/soffes/CommonCrypto What about this one?

[2020-03-31 18:22] frozenshadow commented on #30
Maybe you could look at the share/export implementation in the default notes app. I think it will be unclear if the button is only shown in edit mode (you perform edit related stuff).
The notes app has a "more" icon for this task.

[2020-04-01 12:28] eutampieri commented on #30
[code]
Here is an example JSON output

[2020-04-03 20:15] eutampieri commented on #30
I'm trying to encrypt but my test is failing...

[2020-04-07 13:36] silentshotghost opened #38 "Transfer keys via barcode"
I don’t know if this is possible but transferring keys to another device via barcode would be nice as we can safely store both keys on 2 devices just in case one device dies. Yes I know they backup to iCloud but still

[2020-04-07 13:36] silentshotghost commented on #38
I also don’t know the security stance on this maybe if you add a password to it, it would help

[2020-04-07 13:37] eutampieri commented on #38
Possibly related to #30, I'm implementing the JSON export, which can then be fitted into a QR code

[2020-04-07 13:38] eutampieri commented on #30
As per #38, we could put a menu in the UI to export the keychain

[2020-04-07 13:40] silentshotghost opened #39 "Scan barcode from screenshot"
Scanning a barcode from a screenshot would be nice as you can’t point your camera at your own phone and yes i know that’s why they have manual keys but I have ran into some sites that don’t show the manual key

[2020-04-18 10:26] eutampieri commented on #30
https://github.com/eutampieri/Tofu/commit/4278ee3b34b9bc4f7eb7abc757a250b4bd4b2a2e#diff-b1acf593e236b5dfd4921d5fa0b8405b I have pushed into my repo, but I can't figure out what's wrong with my encryption.

[2020-04-18 13:41] ThinkChaos commented on #30
I have a fix locally, I'll make a PR on your repo @eutampieri 😃

[2020-04-22 07:27] eutampieri commented on #30
I have a proof of concept (only export via file, import not implemented yet)
@calleerlandsson could you please check if the UI is ok? I think it wastes a lot of space but I don't know what could be done to it.
Also,
- [ ] Share icon appears only on iOS >=13
- [ ] Cannot dismiss export pane on iOS < 13

[2020-04-22 07:37] eutampieri commented on #30
@xijio at the moment automatic backups is not gonna happen though

[2020-04-24 11:32] calleerlandsson commented on #39
Hey, @silentshotghost this was implemented in #36 and will be part of the next release.

[2020-04-24 11:32] #39 closed

[2020-04-24 11:35] calleerlandsson commented on #38
I think we have to be very careful about export options as these can pose a great security risk if someone gets even brief access to a device. Therefor, I'm not sure if showing a QR code that can be scanned by another device is a feature we should add to the app.

[2020-04-24 11:58] calleerlandsson commented on #30
Hey @eutampieri, feel free to open a PR and I'll take a look at it when I have some time over!

Responding to #38, I realized that the same potential security risk also applies to this feature: that someone with brief access to the device could export and upload the secrets to somewhere they can access later.

I think I might want to do some more research into how other 2FA apps handle this before

[2020-04-24 14:15] eutampieri commented on #30
@calleerlandsson the feature is not ready, I would have to handle the import of backup files. I think it's useful to have an export feature, for example if you want to switch to another app. This would mean of course to create a backup file viewer or another piece of softwar that creates multiple otp qr codes. Of course, this is a security risk and the user should be warned of it. Moreover, you co

[2020-04-24 14:19] eutampieri commented on #30
Also, I've implemented qr code export, which is the data I would put into a file base64 encoded and pretended with a tofu:// prefix, so a handler could be added to enable quick sync between devices. We shall consider the security risks this feature poses.
I remember there was an issue some time ago regarding TouchID/FaceID implementation that was deemed unnecessary for some reason I can't remember

[2020-04-24 14:19] eutampieri commented on #30
Also, I've implemented qr code export, which is the data I would put into a file base64 encoded and pretended with a tofu:// prefix, so a handler could be added to enable quick sync between devices. We shall consider the security risks this feature poses.
I remember there was an issue some time ago regarding TouchID/FaceID implementation that was deemed unnecessary for some reason I can't remember

[2020-04-25 09:49] ThinkChaos commented on #30
I think one way we can make this safe enough is to have the user set a password once, and use that to derive a key for encryption. To make this secure the password should NOT be recoverable from Tofu's UI though.
@calleerlandsson do you think this would be an acceptable trade-off?

[2020-05-04 07:06] calleerlandsson commented on #30
@eutampieri, I definitely do see the utility of this feature. What I'm worried about are the security implications.

Regarding the persistent identifiers: these are provided by Keychain Services to uniquely identify an account stored in the keychain and are used to store the order of the accounts list in the user defaults. I don't think these should be part of backups. Instead we could order the a

[2020-05-04 07:08] eutampieri commented on #30
Ok, I'll keep up with this issue then!
Have a good week!

[2020-05-04 11:35] ThinkChaos commented on #30
I was going off of not having Touch/Face ID at all.
If the app is protected that way it would be acceptable to have one authentication at app launch, and another at export.
Though it is important to note biometrics are not a proper replacement for passwords because they can always be faked/taken from you whereas a password cannot. But that's a trade-off I am personally comfortable with for my 2FA

[2020-05-07 16:41] eender opened #40 "TOTP with 12 digits causes crash"
So I was testing a few 2FA apps and just to mess around I created a QR code with this website:
https://freeotp.github.io/qrcode.html

This is just an example:
![chrome_2020-05-07_18-33-57](https://user-images.githubusercontent.com/8578053/81320593-b9cb7d80-9091-11ea-9ab4-83714251a1ef.png)

**!! Don't try to scan this code !!, it will most likely make tofu unusable !**

After scanning this with Tof

[2020-05-17 20:11] NC740 commented on #27
Any news on when this feature will be implemented? Just downloaded and app and loving it, although I feel this is the only feature that is missing.

[2020-05-25 06:47] calleerlandsson commented on #27
@NC740, I'm glad you like the app. I have no timeline for when this feature will be ready. I don't have much time to work on the app at the moment. If you want help, please consider supporting my work: https://github.com/sponsors/calleerlandsson

[2020-05-25 07:08] calleerlandsson commented on #40
Thanks for reporting this @eender, and thanks for writing up a fix @benbusby! Let's continue the discussion on #41.

[2020-05-26 13:19] lukefor commented on #30
I'm not sure integrated backups are the correct approach - Apple has solved backing up keychain data nicely, and it is my understanding that Tofu is already backed up by an encrypted iTunes backup (please correct me if I'm wrong!)

What I would like to see is a means of avoiding lock-in, perhaps by displaying QR codes for all pairs. I've been burnt before by TOTP apps that are overly-sandboxed and

[2020-05-26 13:20] eutampieri commented on #30
This is exactly why this issue is relevant

[2020-05-26 13:21] eutampieri commented on #30
Your comment catches the spirit of the issue and I think it's a quite nice solution too. However my work can be safely discarded then

[2020-06-08 11:17] 9R2by commented on #30
@lukefor
please refer to issue #16

[2020-07-01 07:35] RazziaDK opened #42 "Icon request - Hey.com"
I would like to see a icon added for Hey.com - a new email service.
I not sure how to do it myself, but hopefully some helpful soul can assist.

I found their logo as SVG here:
https://hey.com/assets/general/hand-peace-8b40e9460a1ae55d834563cc1cdc8b4aef606e58241d244f0468cb59442911a4.svg

In Tofu the service is listed as: "HEY (myEmail@hey.com)"

Thanks in advance!

[2020-07-01 09:20] frozenshadow commented on #42
Thanks for the request!
I will get to it this weekend.

[2020-07-04 12:39] frozenshadow commented on #42
I've made a PR including this issuer. I tried to replicate the 'HEY Email' app icon.
Please, let me know what you think.

[2020-07-04 15:34] RazziaDK commented on #42
Looks good!

[2020-07-15 16:50] 166MMX commented on #30
I can think of one scenario that could work out.

To resolve the trust issue when either displaying OTP QR codes or creating a custom encrypted backup via Files API, Tofu needs to be able to authenticate the user whether the user is the one initially installing Tofu or some random dude that I have lend my unlocked phone.

Tofu should be able to know if it has been started for the first time. It sh

[2020-07-16 17:20] 166MMX commented on #30
On a second thought you could force the user to secure a secret key that is generated by Tofu during initial setup.
After the user has secured the secret key he will be asked in a new view to verify the secret key. Once the user has been able to provide the correct secret key he may continue to use the app.

The secret key then would be used for export and backup features.

You could also mix and

[2020-07-31 21:48] bluebee74 opened #45 "Multiple iOS devices"
How do I set this app on multiple iOS devices? Could not find much info about this. Thank you!

[2020-09-01 12:23] lg2518 opened #46 "Icon request"
Is it possible to get icons for Reddit, Snapchat and Instagram? Not sure how to do it myself, happy to do so though if someone can point me in the right direction.

Love the app!

[2020-09-03 08:38] frozenshadow commented on #46
Thanks for the suggestion!
I'll try to create some this weekend.

[2020-09-05 12:25] frozenshadow commented on #46
I've made a PR with the requested icons.
Please, let me know what you think.

[2020-09-17 07:22] mihail-sky opened #48 "iOS 14 support"
Hi, iOS 14 was released yesterday. Before upgrading, I'm wondering if the Tofu application is working with it. Thanks 👍

[2020-09-18 14:52] calleerlandsson commented on #48
Hi @mihail-sky, I have upgraded to iOS 14 and have not encountered any issues with the app. Let me know if you do!

[2020-09-18 14:52] #48 closed

[2020-10-06 21:48] Widkidone opened #49 "Suggestions for a 1.9 version"
Possible to add Tresorit, Twitter, Parler, and NordPass. Possible to add dark mode. Thank you.

[2020-10-10 12:23] frozenshadow commented on #49
Thanks for your suggestions!
I've added the requested icons to my last PR #47. Please, let me know what you think of them.
As for the dark mode, that is already implemented and using the iOS dark mode functionality.

[2020-10-23 15:01] 2br-2b commented on #45
Right now, the best option is to scan the code with each of your iOS devices before verifying that the code works on the website. I believe that #30 is working on an export option so that you could do this more easily, but this functionality does not exist yet.

[2020-10-23 15:04] 2br-2b commented on #23
Maybe the app:
1. Sees if it has the app icon stored in its database
2. If it doesn't, it prompts the user as to whether they want to fetch the icon from online
3. If the user says no, it uses the default icon

[2020-11-01 04:30] FIGBERT opened #52 "Change Icon Design Organization"
At the moment, custom issuer icons are stored in `IssuerIcons.sketch`. This is a bit of a problem, as different pull requests that modify the file will overwrite it each other (`git` doesn't track changes in binary files like `.sketch`). This may have already happened, though I'm not sure, as several of the icons in `Assets.xcassets` are missing from `IssuerIcons.sketch`.

I would propose a new st

[2020-11-08 22:38] Widkidone opened #53 "Please add following icons"
Please add Privacy.com, Anonaddy, Surfshark and  Intuit (TurboTax), and Tresorit.

[2020-11-20 11:20] majjoha opened #54 "Automatically sort accounts"
Thank you for your work on Tofu. It is an incredible app, and it is great to have such a high-quality 2FA app available on iOS.

With so many apps supporting 2FA now, it can become a bit time-consuming to scroll through the different accounts to find the correct one, and I was wondering if it would be possible to add an option for sorting them alphabetically at some point?

Thank you once again fo

[2020-11-23 20:28] frozenshadow commented on #53
Hi Widkidone, sorry for the delayed response and thank you for your request!
Life is a bit hectic at the moment, but I will try to make some icons soon.
I'll let you know when they are ready.

[2020-12-06 15:09] frozenshadow commented on #53
The Privacy.com and Tresorit icons where already added as can be seen here:
https://github.com/calleerlandsson/Tofu/blob/6622de6e5f81f33c370104606a5fd25ffb0aea15/Tofu/AccountCell.swift#L88
https://github.com/calleerlandsson/Tofu/blob/6622de6e5f81f33c370104606a5fd25ffb0aea15/Tofu/AccountCell.swift#L98
So I've only made icons for AnonAddy, Surfshark and TurboTax.
Please, let me know what you think o

[2020-12-15 10:25] calleerlandsson commented on #54
Hey @majjoha, thanks for your kind words!

That's an interesting idea! If we can find a good place for this feature, I'm not opposed.

For now, you'll have to fall back on sorting them manually: tap Edit on the Accounts screen and use the drag handles on the right to re-order the accounts.

[2020-12-15 10:28] calleerlandsson commented on #53
Added in #56

[2020-12-15 10:28] #53 closed

[2020-12-15 11:34] #49 closed

[2020-12-15 11:34] #46 closed

[2020-12-15 11:35] #42 closed

[2020-12-16 06:00] nakp commented on #16
@calleerlandsson would you at least consider making it optional? there is this request #45 (to make it work like authy I suppose) and it seems like #30 is not happening any time soon(?)

I understand it kinda beats the purpose of 2FA but in order for that to happen, the user must be able to:
1. install the app in the device
2. and/or be able to unlock a device with the app installed

[2020-12-19 14:39] bre7 commented on #34
OTP autofill on iOS only works for SMS login flows. https://developer.apple.com/documentation/security/password_autofill/enabling_password_autofill_on_a_text_input_view

1Password for example, autofills user/password and sends the OTP code to the clipboard.

[2020-12-22 07:32] majjoha commented on #54
You're welcome, and thank you for considering adding it!

[2021-01-11 18:16] hrfischberg opened #58 "Enable import from Authy"
Can you enable a way to pull Authy 2fa accounts into Tofu?

[2021-01-12 15:30] calleerlandsson commented on #58
Hey @hrfischberg, I don't think Authy supports exporting any account information. Happy to re-open if I'm mistaken.

[2021-01-12 15:30] #58 closed

[2021-01-15 14:57] calleerlandsson commented on #52
Hey @FIGBERT, thanks for thinking about this! I like the idea but I'm also considering removing `IssuerIcons.sketch` from the project altogether. Here's my idea:

Instead of baking rounded corners and borders into the icon images, I'm thinking of having the app do these at runtime when displaying the icons. Furthermore, since the 1x and 2x sizes of the icons are typically downsized versions of the

[2021-01-15 15:04] #45 closed

[2021-01-15 15:12] calleerlandsson commented on #38
The Google Authenticator app recently implemented this and uses the devices passcode to protect it. It made me reconsider this and will look into building this when I have time. It would be cool if we could use the same format as Google Authenticator since it would allow migrating between the apps.

[2021-01-15 15:14] calleerlandsson commented on #34
I don't think this is technically possible right now. Let's re-open this if this changes!

[2021-01-15 15:14] #34 closed

[2021-01-16 23:24] FIGBERT commented on #52
I think that generating the icons with a script is really good idea, and having thought about it for a moment shouldn't be too difficult to implement.

Each icon would be given in the 3x size and placed in the `IssuerIcons` folder, and `GenerateIssuerIconAssets.sh` could use `sips` – installed by default on macOS – and `jq` to copy and resize the base images into their respective `.imageset` folde

[2021-01-17 11:09] eender commented on #40
I just wanted to give you a quick feedback. Unfortunately, no update has been released so far that solves this problem. That would mean that to this day I can't rely on tofu, because I simply can't open it.

[2021-01-18 16:23] tycm opened #59 "Add option to change color of "icons""
It'd be nice to be able to change the color of the letter and background for items without an icon.

[2021-01-21 09:25] calleerlandsson commented on #40
Sorry about that @eender. I'll look at it whenever I get a chance.

[2021-01-21 09:30] calleerlandsson commented on #59
Hi @tycm, thanks for the suggestion! My goal is to one day support user provided issuer icons. Maybe that can serve the same purpose as custom colored letters and backgrounds?

[2021-01-21 17:53] tycm commented on #59
That would definitely be better, I was just wondering if it would be easy to implement and it would match how you're able to change the background color for contacts in iOS

![image](https://user-images.githubusercontent.com/44624889/105390939-988ecb00-5be7-11eb-8d70-6059e0dd4d45.png)

[2021-01-27 23:07] FIGBERT commented on #52
I believe this can be closed with the completion of #60.

[2021-01-28 00:33] #52 closed

[2021-01-29 14:19] calleerlandsson commented on #59
That's an interesting idea, and I see how it could be useful! Let's do user provided icons first, then we can see how this could fit in.

[2021-02-01 20:48] #59 closed

[2021-02-01 20:53] tycm commented on #38
That would be cool, it looks google authenticator uses base64 encoded proto3

[Aegis has this implemented](https://github.com/beemdevelopment/Aegis/pull/406)
[Here is an article about it as well](https://alexbakker.me/post/parsing-google-auth-export-qr-code.html)

[2021-02-02 06:26] calleerlandsson commented on #38
Thanks @tycm, that’s super helpful!

[2021-02-03 15:46] politician commented on #54
@calleluks The search bar is not needed in edit mode. As such I would suggest to add sorting icons there instead.

The benefit of having sorting in edit mode is that you keep the manual sorting functionality while adding the sorting options.

[2021-02-09 15:42] calleluks commented on #40
Hey @eender, I finally got a chance to look at this. Fixed in f43b08dce887226ff2f13dc0eb0b9b8a1bb2770e, 7a94ba60fbc414a7fe4f74810d45ab15e6adda1a, and 1680d09e65962bf8089ec397b52a42efe6a59f43.

I've also pushed a new beta version (1.10 (13)) to TestFlight. Use this link to join the beta program if you want to help test it! https://testflight.apple.com/join/LLe6CFdo

[2021-02-09 15:42] #40 closed

[2021-02-09 16:16] eender commented on #40
Thanks, I can confirmed that the newest beta fixed this problem.

[2021-02-23 06:13] TenebrisVulpes opened #61 "Add an icon for Example"
Hi! Could you please add an icon for Example?

Their website is at https://example.com.

When scanning their QR code with Tofu, the account issuer shows up as Example.

[2021-02-25 10:53] calleluks commented on #61
Hey @TenebrisVulpes, did you mean to request a specific icon to be added? It seems like you submitted the issue template without filling it out?

[2021-02-28 15:27] brotherelric opened #63 "Add an icon for TETR.IO"
Please add an icon for TETR.IO, they just recently added two-factor authentication.
Their website is https://tetr.io/.

The icon should be
![image](https://user-images.githubusercontent.com/66126306/109423926-bff46700-79e1-11eb-9f4f-0c606d875f59.png)

[2021-03-08 09:06] #61 closed

[2021-03-08 09:15] #63 closed

[2021-03-08 09:15] calleluks commented on #63
Thanks @brotherelric! Added in f97eda5.

[2021-03-09 07:51] R4z0r112 opened #64 "Add an icon for twitch.tv"
Hi! Could you please add an icon for Example?

Their website is at https://www.twitch.tv/.

Icon could be like this:
![twitch](https://user-images.githubusercontent.com/80312122/110436396-788e6a80-80b4-11eb-8ff2-43dca0f99907.png)

Thanks a lot for this great app!

[2021-03-09 08:15] calleluks commented on #64
Hey @R4z0r112, I'm glad you like the app!

I'd be happy to add the icon. Does it says "Twitch" or "twitch.tv" next to the account in Tofu?

[2021-03-20 18:30] Limero opened #67 "Support space separated manually entered secret"
Some websites show the TOTP secret separated with spaces, such as Gitlab.

I tried to manually add one of these secrets to Tofu and the "Done" button kept being disabled. After removing the spaces, the "Done" button could be pressed and it worked correctly.

Tofu should either strip the spaces or allow it to be added as-is to avoid confusion.

Example format of space separated secret:
xxxx xxxx xx

[2021-03-21 14:06] MutedExclamation opened #69 "A way to export entries"
Hi! Is there a way to export entries from Tofu? I'd rather have my 2FA codes backed up somewhere else besides iCloud. I think it might also be important for people who do not use iCloud backups at all.

[2021-04-20 13:02] drvink opened #73 "iOS 12.5.x support"
I have an iPhone 5S, so I can't run iOS 13. It appears that previous versions of Tofu worked on iOS 12--would you mind supporting it again? (I don't have a Mac, otherwise I'd try to fix this myself and send a PR--sorry for making a shameless feature request!)

[2021-04-20 13:30] eutampieri commented on #73
Download it on a newer device (if you have one) and download it again from the purchased section so you get the last compatible version

[2021-04-20 13:45] drvink commented on #73
One weird trick for never buying a new phone discovered by a local Github--Apple HATES him!! (Your suggestion worked: I "purchased" it using iTunes on Windows, then grabbed it via the store on my phone.)

Thanks @eutampieri!

[2021-04-20 13:45] #73 closed

[2021-04-21 23:00] advisorgee opened #74 "unable to register CPanel as a provider"
I use 2FA on my cpanel account and today, I was unable to login using the generated token. I accessed my account a different way, removed 2FA from it and tried to set it up again. I scan the QR code and it adds it to my accounts, but when I enter the 6 digit verification code, it keeps telling me the security code is invalid.

[2021-04-21 23:13] #74 closed

[2021-04-30 11:10] Yoshi2889 opened #76 "Fetching icons through apple-touch-icon.png"
Many sites allow themselves to be installed as a web-app with additional benefits on iOS. These webapps fetch their icon from a specific endpoint:
https://developer.apple.com/library/archive/documentation/AppleApplications/Reference/SafariWebContent/ConfiguringWebApplications/ConfiguringWebApplications.html

An example of this would be https://tweakers.net/apple-touch-icon.png - although this spec

[2021-05-04 11:05] lolomokakus opened #78 "Feature request: Support for Steam Guard"
Steam Guard uses custom TOTP codes that consist of five letters. It would be nice to have support for them in Tofu!

Here's a JS implementation of their algorithm if that helps: https://github.com/DoctorMcKay/node-steam-totp

[2021-05-04 11:32] eutampieri commented on #78
If it helps I could port the library to Swift

[2021-05-17 11:10] moritz-john opened #79 "Add an icon for Kraken.com"
Hi! Could you please add an icon for Kraken?

Their website is at https://www.kraken.com

When scanning their QR code with Tofu, the account issuer shows up as kraken.com

Their logo / icon could be exctracted out this vector graphics from Wikipedia: https://en.wikipedia.org/wiki/Kraken_(company)#/media/File:K-logo-wikipedia.svg (CC BY-SA 4.0)

I tried to create a 1024x1024 PNG version myself.
![K

[2021-05-26 15:26] Araraura opened #80 "Feature request: Enable support for Google Authenticator export"
I wanted to ask for the ability to allow importing  2FA codes from Google Authenticator over to Tofu. Google has a feature to export the 2FA codes via a scannable QR code, but when you attempt to read this code with Tofu, it won't recognize it and say that it's invalid.

I'm not sure if that means that the QR code only works for Google Authenticator so it's only over different phones, but maybe yo

[2021-06-02 08:03] Araraura opened #81 "Icon request: Sony"
Hey there, could you please add an icon for Sony (For Playstation and such)?
Their accounts can use 2FA but there's no icon for them.
Here's the icon:
![favicon](https://user-images.githubusercontent.com/25017422/120446302-f216bb80-c378-11eb-9665-77d125475bad.png)

Their website is at https://sony.com.

[2021-06-04 04:28] Giovanni196326 opened #82 "App lock"
Could you please add the option to lock to lock the app with face id or a password?

[2021-06-04 06:46] eutampieri commented on #82
Duplicate of #27, I fear

[2021-06-04 06:47] eutampieri commented on #69
Possibly related to #38

[2021-06-04 06:49] eutampieri commented on #30
Now that the app is iOS 13 and above we could use Apple's crypto library

[2021-06-14 13:49] justablob commented on #30
I agree with @eutampieri. I'm just looking for a quick and easy way to export my 2FA codes to back them up somewhere and to me, it sounds like FaceID would be enough to make sure it's not some malicious actor exporting the codes. It's the easiest solution and doesn't reinvent the wheel.

[2021-06-21 16:49] ghost opened #83 "Add an icon for SimpleLogin"
Website: https://app.simplelogin.io/
Issuer shows up as: **SimpleLogin**.

All potential images I managed to find;
(**192x192** & **Transparent**)
![192x192](https://user-images.githubusercontent.com/86244370/122799391-bc5b5780-d2d2-11eb-9d7c-6b10f85c6d9b.png)

(**200x200** & **Transparent**)
![200x200](https://user-images.githubusercontent.com/86244370/122799429-c67d5600-d2d2-11eb-9a6d-b41fb23952

[2021-07-05 16:43] RazziaDK commented on #81
I have added a Sony in the following pull request, although it is just a small Sony icon.
https://github.com/calleluks/Tofu/pull/84

[2021-08-06 07:54] p-marg commented on #82
It’s a needed feature for sure.

[2021-08-06 07:56] p-marg opened #85 "Add an icon for Global Rockstar"
Hi! Could you please add an icon for Example?

Their website is at https://www.globalrockstar.com/#/projects

[2021-08-06 07:58] p-marg opened #86 "Exporting Codes"
What if we switch from an Apple device over to Android, there is no way for us export our codes.

[2021-08-22 22:54] samlitt commented on #86
I would also appreciate this feature, since I am considering switching to Android.

So ultimately a universal file type for this data should be established, but as a work around the single OTP' could be displayed as QR-codes in order to be scanned by the new device. A special file type would be preferred in order to make backups and import the OTP data even when the original device fails, gets los

[2021-09-25 06:24] #83 closed

[2021-09-25 06:41] #81 closed

[2021-09-25 06:43] calleluks commented on #82
Closing in favor of #27.

[2021-09-25 06:43] #82 closed

[2021-09-25 12:44] calleluks commented on #86
Thanks for the feedback! I'll close this in favor of #38 since that's how I aim to cater to this need.

[2021-09-25 12:44] #86 closed

[2021-09-27 19:13] #64 closed

[2021-10-01 10:43] Araraura commented on #38
I'd like to see that feature as well

[2021-10-02 20:51] OGDB89 opened #89 "Add an icon for Example"
Hi! Could you please add an icon for Example?

Their website is at https://ctemplar.com/

When scanning their QR code with Tofu, the account issuer shows up as Example.

[2021-10-02 20:52] OGDB89 opened #90 "Add an icon for CTemplar"
Hi! Could you please add an icon for Example?

Their website is at https://ctemplar.com/

When scanning their QR code with Tofu, the account issuer shows up as Example.

[2021-10-02 20:53] #89 closed

[2021-10-03 18:52] OGDB89 opened #91 "An image (icon) from NexusMods doesn't shown in application (iPhone)"
Hello, is there any method how to fix that? I love app but some icons (NexusMods, CTemplar) doesn't show in application.

Thank you for this super great program, Calleluks!

[2021-10-03 19:42] RazziaDK commented on #91
Have you updated to the latest version of the app? (Released yesterday)
If yes, would you please write what issuer you see in the app?
To see it, click edit, select the account in question. Then you will see the issuer in the second line.

[2021-10-04 11:19] OGDB89 commented on #91
Hi RazziaDK, i did update now (I haven't seen it) but i don't see NexusMods icon.
Issuer in the app: **NexusMods**
I don't know why i don't see this icon. Amazon icon works, PayPal too.

I am wondering is it a possible to add CTemplar icon i was trying to add by myself by since my knowledge is below 0 i can't figure how to run command from root.

Kind regards

[2021-10-04 11:24] OGDB89 commented on #91
**RazziaDK** i did solve the problem by myself.

What i did:

1. I have opened this link https://github.com/calleluks/Tofu/blob/master/Tofu/AccountCell.swift#L15

2. Line 85: Nexus Mods (In my app on iPhone NexusMods was without space)

3. I've put space in my app in iPhone in issuer field. Wrote: **Nexus Mods**. And i saw an image! Perfect! Thank you very much for helping!

P.s. please add CTempl

[2021-10-04 17:14] RazziaDK commented on #91
Great to hear. I just created a Nexus Mods account to see if there is a space or not, if a new users creates 2FA on a Nexus Mods account today. My issuer field was "Nexus Mods", so I think the app has it right at the moment. :-)

[2021-10-04 17:15] RazziaDK commented on #91
I added CTemplar in this pull request: https://github.com/calleluks/Tofu/pull/92
So I will most likely be in the next version of the app.

[2021-10-05 13:19] #91 closed

[2021-10-05 20:44] fernvenue commented on #78
Strongly agree. In fact, KeePassXC already supports Steam Guard, which has proven to be very useful.

[2021-10-06 00:40] fernvenue opened #95 "Some icon requests"
HI, I have collected some websites that use 2FA but no icon is available in Tofu. Here are their issuers and sites:

- `Rockstar+Games`: https://www.rockstargames.com
- `npm`: https://www.npmjs.com
- `Chaturbate`: https://chaturbate.com
- `Namesilo`: https://www.namesilo.com
- `UptimeRobot`: https://uptimerobot.com
- `Proxmox Web UI`: https://www.proxmox.com

[2021-10-06 21:50] RazziaDK commented on #95
I've added the icons in the latest commit here: https://github.com/calleluks/Tofu/pull/92
Now we just need Calle to merge them :)

[2021-10-13 12:56] AppendUser opened #100 "Add an icon for Blur"
Hi! Could you please add an icon for Blur?

Their website is at https://dnt.abine.com/

When scanning their QR code with Tofu, the account issuer shows up as Blur.

[2021-11-24 10:58] #69 closed

[2021-11-27 14:50] fxbrit commented on #38
is there a way atm to transfer codes to android? I saw the post about backing up and restoring to the same iOS device, but I couldn't find anything that works regarding android.

[2021-12-14 09:37] filippofontana opened #102 "Add an icon for NordAccount"
Hi! Could you please add an icon for NordAccount?

Their website is at https://nordaccount.com.

When scanning their QR code with Tofu, the account issuer shows up as Nord+Account (maybe it's better if it shows up as NordAccount).

I would have done it myself if I owned a Mac. If this could help, I've already prepared a png file.

![NordAccount](https://user-images.githubusercontent.com/55811966/1

[2021-12-19 09:52] RetainedCoda opened #103 "Add Roblox Logo"
Hi! Could you please add an icon for Roblox?

Their website is at https://roblox.com

When scanning their QR code with Tofu, the account issuer shows up as Example.
![OIP](https://user-images.githubusercontent.com/93469846/146670708-3d0bc235-1205-41fa-9334-d102153dc778.jpg)

[2021-12-19 09:54] RetainedCoda commented on #103
I don't have a linux machine and my pc hates docker

[2021-12-21 00:44] bingoxo opened #104 "keepass support"
can you add the ability to import/export to keepass format ?

[2022-01-07 13:26] maxdesalle opened #105 "Feature request: Apple Watch integration"
Create an app for WatchOS so that the Apple Watch can be used to check 2FA codes.

[2022-01-07 13:29] maxdesalle opened #106 "Feature request: encrypted backup export"
Enable the ability to generate an encrypted backup of the 2FA keys stored in Tofu.

This is better than the current backup solution which requires users to backup their whole iPhone in order to save the keys stored in the IOS keychain.

[2022-01-26 07:38] github2099 opened #108 "Feature request: Apple iPad integration"
Create an app for iPadOS so that the Apple iPad can be used to check 2FA codes.

[2022-01-30 19:51] RasmusLauritsen commented on #103
I added Roblox in https://github.com/calleluks/Tofu/pull/92/commits/c3dc8fcc6dbff24ebac753e8dbf56e472929831a
Now we just need Calle to compile and upload to the App Store :-)

[2022-01-30 19:52] RasmusLauritsen commented on #102
I added Nord Account in https://github.com/calleluks/Tofu/pull/92/commits/c3dc8fcc6dbff24ebac753e8dbf56e472929831a
Now we just need Calle to merge, compile and upload to the App Store.

[2022-01-30 22:44] RetainedCoda commented on #103
Thanks

[2022-01-30 22:52] RetainedCoda opened #109 "Feature Request: Support for Apple Widgets"
We could possibly add Support for Apple Widgets in the future. The end user will be able to look at their 2FA Codes without opening Tofu. However this could be a security risk if the user adds the widget to the widget menu accessible on the lock screen (swipe right). I'm sure we could alert the user to not add a widget to the accessible widget menu.

Thank you,
RetainedCoda

[2022-01-31 10:21] filippofontana commented on #102
Great, thanks!

[2022-02-17 11:45] manonfgoo opened #110 "Feature Request:;"
Hi! Could you please add an icon for Example?

Their website is at https://example.com.

When scanning their QR code with Tofu, the account issuer shows up as Example.

[2022-02-23 16:34] themuffinman26 opened #112 "Add an icon for Cisco, Meraki, Ubiquiti, TikTok, Purism, Palo Alto Networks, login.gov, TaxACT, LocalBTC, Shapeshift.io, Newegg, Bestbuy, Ecobee, Instagram, Coinmama, Linkedin"
Hi! Could you please add an icon for Cisco?
https://www.cisco.com/

Hi! Could you please add an icon for Meraki?
https://meraki.cisco.com/

Hi! Could you please add an icon for Ubiquiti?
https://www.ui.com/

Hi! Could you please add an icon for TikTok?
https://www.tiktok.com/

Hi! Could you please add an icon for Purism?
https://puri.sm/

Hi! Could you please add an icon for Palo Alto?
https://www

[2022-02-23 21:36] RasmusLauritsen commented on #112
@themuffinman26 Could you please write, what the issuer name is?
In the app click Edit -> Select account (Linkedin for instance) and check what is written in the second line.

In my Linkedin entry, the second line reads "Linkedin" and the icon shows up correctly.

We need the issuer names for all the sites mentioned, otherwise we would have to sign up to every site - and that is not gonna happen.

[2022-04-21 16:40] bencdll opened #113 "Project Dead?"
There have been no commits or merges in several months. Is the project dead?

Edit: Sorry, accidentally left the **icon request** Label on.

[2022-04-21 17:46] calleluks commented on #113
Hey Ben, I haven't had time to work on Tofu for quite a while now. I hope I'll have more time someday.

Is something about the app not working for you?

[2022-04-21 19:44] bencdll commented on #113
No technical issue.

[2022-04-21 19:44] #113 closed

[2022-05-22 19:14] sallyFoster opened #114 "Opening the App with biometrics"
Can you please make the app locked and be opened with biometrics? This 2FA app is where all the important codes are. Having this extra layer of security would be great.

[2022-05-22 19:18] sallyFoster opened #115 "Opening the App with biometrics"
Can you please make the app locked and be opened with biometrics? This 2FA app is where all the important codes are. Having this extra layer of security would be great.

[2022-05-22 19:18] sallyFoster commented on #114
Opened the wrong type of issue

[2022-05-25 13:28] #114 closed

[2022-05-25 23:22] sallyFoster commented on #114
Duplicate of which issue?

[2022-05-25 23:46] sallyFoster commented on #27
Are you planning on adding it?

[2022-06-05 08:49] korawit1188 opened #116 "Add an icon for Example"
Hi! Could you please add an icon for Example?

Their website is at https://example.com.

When scanning their QR code with Tofu, the account issuer shows up as Example.

[2022-06-06 23:56] ThinkChaos commented on #116
Looks like spam from a bot.

[2022-06-07 07:28] #116 closed

[2022-08-12 18:09] leftl opened #119 "Feature request: support DUO QR codes"
QR codes generated for the DUO client have further encoding that make them incompatible with Tofu (and essentially all other 2FA apps). This is a common 2FA solution used by corporations and universities. More information about the encoding can be found here: https://shreyasminocha.me/blog/duo-mobile-2fa/

Thanks!

[2022-09-04 18:13] NicoHood opened #122 "Website Favicon not available"
Hi,
I know, this is a minor issue, but on your website there is no favicon and when linking the page it looks nicer. It seems like you have an icon anyways, so it might be easy to fix.

Have a nice day!

[2022-09-26 14:16] alfredonodo opened #123 "Project status"
Hi,
I am moving away from Authenticator because it seems to have been abandoned. Firstly, I would like to know if Tofu is still supported and developed and secondly, I would like to know if it supports all the features I need (encrypted storage, backup support (local, icloud and openPGP)).
Thank you very much

[2022-10-03 07:42] calleluks commented on #123
Hey @alfredonodo, I haven't had much time to work in the app for quite a while. Tofu stores secrets in the iOS keychain which is responsible for encryption. These keychain items will be part of password protected iOS backups performed with iTunes or Finder on a Mac. Unfortunately, the don't seem to be part of iCloud backups. There's no support for PGP.

[2022-10-03 07:42] #123 closed

[2022-10-04 13:55] Andrioshe commented on #16
Hi, any update here?

I really need a a way to transfer all my keys to a new phone at work. I am really struggling now because getting a new key would mean a big workload for me.

[2022-10-04 16:12] danbee commented on #16
@Andrioshe I'm pretty sure codes are transferred if you do a backup to your computer and restore from there.

[2022-10-05 07:13] calleluks commented on #16
Sorry, there's currently no way to transfer keys stored in Tofu to an Android app.

[2022-10-11 23:25] #6 closed

[2022-10-26 14:12] OceanAndWu opened #124 "I have a question"
![Uploading WeChat874be61f8f7ebc6d1a12daa6a61f499e.png…]()

[2022-10-27 06:39] #124 closed

[2022-10-30 20:26] Shadowspear123 opened #125 "Add an icon for Mint Mobile"
Hi! Could you please add an icon for Mint Mobile?

Their website is at https://www.mintmobile.com/.

When scanning their QR code with Tofu, the account issuer shows up as Mint Mobile.